<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
    {{ message.by }}:{{ message.text }}
    <br>
    <br>
    <br>
    {% endfor %}
    {% if not final %}
    <form action="/" method="post">
        <textarea name="user_input" id="user_input" cols="30" rows="2"></textarea>
        <button type="submit">Enter</button>
    </form>
    {% endif %}
</body>
</html>